appdirs==1.4.4
asgiref==3.2.10
certifi==2021.5.30
chardet==3.0.4
distlib==0.3.2
Django
filelock==3.0.12
idna==2.8
Pillow==8.2.0
pycryptodome==3.10.1
pytz==2020.1
requests==2.22.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.11
virtualenv==20.4.7
