{% extends 'base.html' %}

{% block title %}About us{% endblock %}

{% block content %}

<style>
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }


  body {
    overflow-x: hidden;
    

  }
 img{
  height: 100px;
  width: 35%;
  border-radius: 50%;
 }

</style>

<div class="about-section">
  <h1>CyberShop</h1>
  <p style="margin-top: 45px;">CyberShop is a ecommerce webapp, devloped with the help of <b> django</b> and
    <b> Bootstrap.</b></p>
</div>
<h2 style="text-align:center; margin-top:revert;"> <b>Who We Are!</b></h2>

<div class="row text-center">

  <div class="col-xl-3 col-sm-6 mb-5">
      <a href="https://www.linkedin.com/in/gaurang-shukla-928426181"><img src="/media/profile.png" alt="Avatar"></a>
      <h5>Gaurang Shukla</h5><span class="small text-uppercase text-muted">Co - Developer</span>
      <a href="https://www.linkedin.com/in/gaurang-shukla-928426181">
        <h5 style="margin-left: 2px;">Linkedin</h5>
      </a>
      <a href="https://github.com/itzgaurang">
        <h5 style="margin-left: 2px; color: black">Github</h5>
      </a>
  </div>

  <div class="col-xl-3 col-sm-6 mb-5">
      <a href="https://www.linkedin.com/in/divyanshu-maurya-54a00b1a1"><img src="/media/profile.png" alt="Avatar"></a>
      <h5>Divyanshu Maurya</h5><span class="small text-uppercase text-muted">Co - Developer</span>
      <a href="https://www.linkedin.com/in/divyanshu-maurya-54a00b1a1">
        <h5 style="margin-left: 2px;">Linkedin</h5>
      </a>
      <a href="https://gitlab.com/iamSadhu">
        <h5 style="margin-left: 2px; color: #de6161">GitLab</h5>
      </a>
  </div>

</div>
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgb(255, 255, 255);">
    © 2021 Copyright:
    <a class="text-dark" href="{% url 'cybershop:home' %}">CyberShop.com</a>
  </div>
  <!-- Copyright -->
</footer>
{% endblock %}