{% extends 'base2.html' %}
{% block title %}CustomerRegistration{% endblock %}

{% block content %}
<div class="container">
    <form class="form-signin" , method='POST' , action="">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
        <input type="text" id="id_username" name="username" class="form-control" placeholder="Username" required autofocus style="color:rgb(0, 0, 0)">
        <input type="password" , name="password" id="id_password" class="form-control" placeholder="Password" required style="color: #000000;">
        <input type="email" , name="email" id="id_email" class="form-control" placeholder="email" required style="color: #000000;">
        <input type="text" id="id_full_name" name="full_name" class="form-control" placeholder="FullName" required autofocus style="color:rgb(0, 0, 0)">
        <input type="text" id="id_adress" name="address" class="form-control" placeholder="Adress" required autofocus style="color:rgb(0, 0, 0)">
        <button class="btn btn-dark btn-lg btn-block" type="submit">Sign in</button>
        <p> Already have an account? <a href="{% url 'cybershop:customerlogin' %}">Login here</a></p>

    </form>
</div>

{% endblock %}