{% extends 'base2.html' %}

{% block title %}Customer Login{% endblock %}

{% block content %}

<div class="container">
    <form class="form-signin" , method='POST' , action="">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        <input type="password" , name="password" id="password" class="form-control" placeholder="Password" required>
        <p>Forgot Password?<a href="{% url 'cybershop:passworforgot' %}">Reset now.</a></p>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-dark btn-lg btn-block" type="submit">Sign in</button>
        <p> Don't Have An Account? <a
                href="{% url 'cybershop:customerregistration' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">Register
                here</a>
        </p>
    </form>
</div>


{% endblock %}